#titulo {
    font-size: 40px;
    color: #363062;
    background-color: #4D4C7D;

}

body {
    background-color: #F99417;
}

.texto {
    text-align: center;
    color: #000000;

}

#texto {
    text-align: center;
    color:#000000;
}

footer {
    background-color: #292C6D;
    text-align: center;
}