#titulo {
    font-size: 20px;
    color: #000000;
    background-color:#0A0140;

}

body {
    background-color: #F2F7A1;
}
.texto {
    text-align: center;
    color: #000000;

}

#texto {
    text-align: center;
    color:#000000;
}