#titulo {
    font-size: 40px;
    color: #f8f2f2;
    background-color:#7752FE;

}

body {
    background-color: #F2F0D8;
}

.texto {
    text-align: center;
    color: #000000;

}

#texto {
    text-align: center;
    color:#000000;
}

footer {
    background-color: #292C6D;
    text-align: center;
}