#titulo {
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #00021F;

}

.texto {
    text-align: center;
    color: #000000;

}

body {
    background-color: #dbd2c8;
}

#texto {
    text-align: center;
    color: #000000;
}

footer {
    background-color: #b7b9dd;
    text-align: center;
}